* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-flow: column wrap;
  background-color: hsl(233, 47%, 7%);
  justify-content: center;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 15px;
  color: hsl(0, 0%, 100%);
}

.card {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: hsl(244, 38%, 16%);
  /*background-image: url(images/image-header-desktop.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-blend-mode: overlay;*/
  width: 1110px;
  margin-top: 177px;
  height: 446px;
  border-radius: 8px;
}

img {
  position: absolute;
  width: 540px;
  height: 446px;
  left: 900px;
  top: 177px;
  border-radius: 8px;
}
.image-mask {
  width: 540px;
  height: 446px;
  left: 900px;
  top: 177px;
  background-color: #ab5cdb;
  z-index: 1;
  opacity: 70%;
  position: absolute;
  border-radius: 8px;
}
.text {
  margin: 71px 635px 59px 72px;
}
#insight {
  color: hsl(277, 64%, 61%);
}
.elements {
  display: flex;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
